<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Artist</title>
  <link rel="stylesheet" href="">
  <h1> Artist Display </h1>
</head>
<body>

<input ng-model="vm.search.author" placeholder="Artist name">
</input>
<button ng-click="vm.getArt()" type="submit" class="form-submit btn btn-primary">Search</button>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

    Search: <input ng-model="query">

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <!-- <ul ng-repeat="art in vm.getArtWork | filter: 'monet, claude' | filter:query ">
      <li>{{art.author}} <br> </li>
      <li> {{art.location}} <br> </li>
      <li> <img ng-src="{{art.image_url}}"</li>
    </ul> -->

    <ul ng-repeat="artist in vm.art">
  <!--     <li>{{art[0].author}} <br> </li> -->
      <li> {{3+4}} <br> </li>
      <li> <img ng-src="{{artist.image_url}}"></li>
    </ul>

    </div>
  </div>
</div>

  </div>

</body>
</html>
