<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Artist</title>
  <link rel="stylesheet" href="">
  <h1> Artist Display </h1>
</head>
<body>

<input ng-model="vm.search.title" placeholder="Artist name"></input>
<button ng-click="vm.getArt()" type="submit" class="form-submit btn btn-primary">Search</button>
<br>

 <div class="image-container">

 <span ng-repeat="art in vm.getArtWork" class="fish-li">
   {{art.author}} <br>
   {{art.location}} <br>
   <img ng-src="{{art.image_url}}"</span>

 </span>
  </div>

</body>
</html>
