<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Artist</title>
  <link rel="stylesheet" href="">
  <h1> Artist Names </h1>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

    <input ng-model="vm.query">
    <button ng-click="vm.getArt()" type="submit" class="form-submit btn btn-primary">Search</button>

<div ng-repeat="art in vm.artWork | unique:'author'">
    <!--  <button ng-click="vm.query = " type="submit" class="form-submit btn btn-primary">{{art.author}} </button><br> -->

    </div>
    <div class="col-md-10">
      <!--Body content-->

    <!-- <div ng-repeat="art in vm.artWork | unique:'author' | filter:query">
      <span> <img ng-src="{{::art.image_url}}"> </span>
    </div> -->

    </div>
  </div>
</div>

</body>
</html>
